<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold" th:href="@{/}">🎬 Distopia Cinema</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
              aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/cinemas}">Cinemas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/movies}">Films</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/showings}">A l'affiche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/bookings}">Réservations</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/cinemas/admin}">Cinemas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/movies/admin}">Films</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/showings/admin}">A l'affiche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/bookings/admin}">Réservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/cities/admin}">Villes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>