<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <title>Accueil</title>
</head>

<body>

<section layout:fragment="content">

  <!-- Films -->
  <section class="mb-5">
    <h2 class="mb-4">Films à l'affiche</h2>

    <div class="row g-4">
      <div class="col-md-6 col-lg-4" th:each="movie : ${movies}">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <a th:href="@{'/movies/view/' + ${movie.id}}">
              <img class="img-fluid w-100"
                   style="height: 300px; object-fit: cover;"
                   th:src="${movie.imageUrl}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Cinémas -->
  <section class="mb-5">
    <h2 class="mb-4">Les meilleurs cinémas</h2>

    <div class="row g-4">
      <div class="col-md-6 col-lg-4" th:each="cinema : ${cinemas}">
        <div class="card h-100 shadow-sm">
          <div class="card-body">

            <a th:href="@{'/cinemas/view/' + ${cinema.id}}" >
              <img th:src="${cinema.imageUrl}" class="img-fluid w-100" />
              <h5 th:text="${cinema.name}"></h5>
              <p><strong>Adresse:</strong> <span th:text="${cinema.address}"></span></p>
              <p><strong>Note public:</strong> <span th:text="${cinema.communityRating}"></span></p>
              <p><strong>Ville:</strong>
                <span th:text="${cinema.city != null ? cinema.city.name : 'N/A'}"></span>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Villes -->
  <section class="mb-5">
    <h2 class="mb-4">Villes</h2>
    <div class="row g-4">
      <div class="col-md-6 col-lg-4" th:each="city : ${cities}">
        <div class="card h-100 shadow-sm">
          <div class="card-body">

            <a th:href="@{'/cities/view/' + ${city.id}}" >
              <img th:src="${city.imageUrl}" />
              <h5 th:text="${city.name}"></h5>
            </a>
          </div>
          </div>
        </div>
    </div>
  </section>

</section>

</body>
</html>